body{
    background-image: url(r9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
/*criar camada para opacidade*/
}
noCenter{
  text-align: left;
}

body::after{/*imagem ronaldofosco*/
content: '';
position: fixed;  
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(255, 255, 255, 0.1);
pointer-events: none;
z-index: -1; /*coloca a camada atrás do conteudo digitado*/


}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block;
    

}  

dd {
    text-align: justify; /* Justifica o texto */
    margin: 0 auto; /* Centraliza o bloco */
    width: 80%; /* Define uma largura máxima para o texto */
    background-color: rgba(0, 0, 0, 0.8);
  color:aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block;
    
  }
  dt{
    text-align: justify;
    margin:0 auto;
    width: 80%;
    font-weight: bold;
    color:aliceblue;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius:20px;
    padding-left:50px;
    padding-right: 50px;
    padding-bottom:10px;
    padding-top:10px;
    


   
  }
  
h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    display: inline-block;
}

li { text-align: justify;
  color:aliceblue;
margin: 0 auto;
width: 20%;
background-color: rgba(0, 0, 0, 0.8);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
}




  